{% extends "base.html" %}
{% block title %}Vamos vender{% endblock title %}
{% block active3 %}active{% endblock active3 %}{% block desativa3 %}disabled{% endblock desativa3 %}
{% load static %}
{% block content %}

    <h1>Criar Venda</h1>
    <form method="post">
        {% csrf_token %}
        <div>
        <select name="funcionarioId" id="funcionarioId">
            {% for funcionarios in Funcionario %}
              {% if funcionarios.id == 1 %}{% else %}
              <option value="{{ funcionarios.id }}">{{ funcionarios.nome }}</option>
              {% endif %}
            {% endfor %}
        </select>
        </div>

        <div>
                <select name="clienteId" id="clienteId">
                    {% for clientes in Cliente %}
                      <option value="{{ clientes.id }}">{{ clientes.nomeCliente }}</option>
                    {% endfor %}
            </select>
        </div>
        <div>

            
            <h2>Produtos:</h2>
            <div id="produtos-container">
                <table>
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Quantidade</th>
                        </tr>
                    </thead>
                    <tbody id="Produto">
                        {% for form in Produto %}
                            <tr>
                                <td>{{form.id}} ,{{ form.nomeProduto }}</td>
                                <td>{{ form.quantidadeProduto }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button type="button" id="adicionar-produto">Adicionar Produto</button>
        </div>
        <button type="submit" class="btn btn-success">Criar venda</button>
    </form>
    <script>
        document.getElementById('adicionar-item').addEventListener('click', function() {
            var newRow = '<tr><td>{{ itemVenda.Produto.nomeProduto }}</td><td>{{ itemVenda.Produto.quantidadeProduto }}</td></tr>';
            document.getElementById('Produto').insertAdjacentHTML('beforeend', newRow);
        });
    </script>
{% endblock content %}