{% extends "base.html" %}
{% block title %}Vamos vender{% endblock title %}
{% block active3 %}active{% endblock active3 %}{% block desativa3 %}disabled{% endblock desativa3 %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1>Listar Vendas</h1>
    <table class="table table-sm table-hover table-dark ">
        <div>
            <h3 class="text-dark">
                Venda  {{ Venda.id }} 
            </h3>
            <br>| feita por {{ Venda.funcionarioId }} |<br>| data {{Venda.dataVenda}}  
        </div>
    <tr>
        <th scope="col">ID</th> 
        <th scope="col">Quantidade</th>      
        <th scope="col">Preço do Produto</th>
         
    </tr>
    {% for venda in Item %}
    <tr>
        <td>{{venda.produtoId.nomeProduto}}</td>
        <td>{{venda.quantidade}}</td> 
        <td>{{venda.produtoId.precoProduto}}</td>
    </tr> 
    {% endfor %}
    <tr>
        <td>Preço total</td>
        <td></td>
        <td>
            {{Venda.precoTotal}}
        </td>
    </tr>
    </table>


</div>
{% endblock content %}