{% extends 'base.html' %}
{% block title %}Vamos vender{% endblock title %}
{% block active3 %}active{% endblock active3 %}{% block desativa3 %}disabled{% endblock desativa3 %}
{% load static %}
{% block content %}
<a type="button" class="btn btn-success" href="{% url 'criar_venda2' %}">Criar nova venda</a>


<div class="container mt-5">
    <h1 style="text-align: center;">Listar Vendas</h1>
    <table class="table table-sm table-hover table-dark ">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Usuario</th>
            <th scope="col">Data</th>
            
        </tr>
        {% for venda in Venda %}
        <tr>
            <td>{{venda.id}}  </td>
            <td> {{venda.funcionarioId}} </td>
            <td> {{venda.dataVenda}} </td>
            <td> <a type="button" class="btn btn-primary" href="{% url 'exib_venda' venda.id %}">visualizar</a> </td>
        </tr> 
        {% endfor %}
    </table>
</div>
{% endblock content %}