{% extends 'base.html' %}
{% block title %}Vamos vender{% endblock title %}
{% block active3 %}active{% endblock active3 %}{% block desativa3 %}disabled{% endblock desativa3 %}
{% load static %}
{% block content %}
<a type="button" class="btn btn-success" href="{% url 'criar_venda2' %}">Criar nova venda</a>


<div class="container mt-5">
    <h1>Listar Vendas</h1>
    <ul class="list-group">
    {% for venda in Venda %}
    
    
    <li class="list-group-item">
        Id  {{ venda.id }} || feita por {{ venda.funcionarioId }} || data {{venda.dataVenda}} <a type="button" class="btn btn-primary" href="{% url 'exib_venda' venda.id %}">visualizar</a>

    </li>
    {% endfor %}
</ul>
</div>
{% endblock content %}