{% extends 'base.html' %}
{% block title %}Vamos vender{% endblock title %}
{% block active3 %}active{% endblock active3 %}{% block desativa3 %}disabled{% endblock desativa3 %}
{% load static %}
{% block content %}
<a type="button" class="btn btn-success" href="{% url 'criar_venda2' %}">Criar nova venda</a>


<div class="container mt-5">
    <h1 style="text-align: center;">Listar Vendas</h1>
    <table class="table table-sm table-hover table-dark ">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Usuario</th>
            <th scope="col">Data</th>
            
        </tr>        
        <tr>
            <td>
                <select class="form-control select2" name="clienteId" id="clienteId_{{ venda.id }}" style="width: 50px;">
                    {% for venda in Venda %}
                    <option value="{{ venda.id }}">{{ venda.id }}</option>
                    {% endfor %}
                </select>
            </td>
            <td id="funcionario_info"></td>
            <td id="data_info" style="width: 300px;"></td>
            <td></td>

              
        </tr>
        {% for venda in Venda %}

        <tr>
            <td>{{venda.id}}  </td>
            <td> {{venda.funcionarioId}} </td>
            <td> {{venda.dataVenda}} </td>
            <td style="text-align: right; width: 300px;"> 
                <a type="button" class="btn btn-primary" href="{% url 'exib_venda' venda.id %}">visualizar</a> 
                <a type="button" class="btn btn-primary" href="{% url 'pdf' venda.id %}">PDF</a> 
            </td>
        </tr> 
        {% endfor %}
    </table>
</div>
<script>
    $(document).ready(function() {
        $('.select2').select2();

        $('.select2').on('change', function() {
            var vendaId = $(this).val();

            // Requisição AJAX para obter os detalhes da venda
            $.ajax({
                url: '{% url 'detalhes_venda' %}',
                type: 'GET',
                data: {'venda_id': vendaId},
                success: function(response) {
                    $('#funcionario_info').text(response.funcionarioId);
                    $('#data_info').text(response.dataVenda);
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText); // Para debug
                    // Trate o erro de acordo com sua necessidade
                }
            });
        });
    });
</script>
{% endblock content %}