{% extends "base.html" %}
{% block content %}
<div class="card-body">
    <h5>Alterar Produto</h5>

    <form method="POST">
        {% csrf_token %}
            
            <div>
          <label for="id_nome_do_produto">Nome: </label>
        <input type="text" name="nome_do_produto" maxlength="30" required="" id="id_nome_do_produto"> 
        Nome anterior: {{Produto.nome_do_produto}}

    </div>
      <div>
          <label for="id_Descricao_do_Produto">Descricao do Produto:</label>
        <input type="text" name="Descricao_do_Produto" maxlength="1000" id="id_Descricao_do_Produto">
        Descrição anterior: {{Produto.Descricao_do_Produto}}
    </div>
      <div>
          <label for="id_Preco_do_produto">Preço:</label>
        <input type="number" size="50" name="Preco_do_produto" value="1" step="any" id="id_Preco_do_produto">
        O atual é R${{Produto.Preco_do_produto}}
    </div>
      <div>
          <label for="id_Numero_de_Nota_Fiscal">Numero de Nota Fiscal:</label>
        <input type="text" name="Numero_de_Nota_Fiscal" maxlength="1000" id="id_Numero_de_Nota_Fiscal">
        Atual é : {{Produto.Numero_de_Nota_Fiscal}}
    </div>
      <div>
          <label for="id_Quantidade_de_Produtos" size="50">Quantidade de Produtos:</label>
        <input type="number" name="Quantidade_de_Produtos" value="1" min="0" max="9223372036854775807" id="id_Quantidade_de_Produtos">
        O atual é {{Produto.Quantidade_de_Produtos}}
    </div> 
            <a type="button" class="btn btn-danger" href="/">Cancelar cadastro</a>
            <button type="submit" class="btn btn-success">Alterar produto</button>
        
    </form>
</div>
<table class="table">
<thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">nome do produto</th>
        <th scope="col">Descrição do produto</th>
        <th scope="col">Preço</th>
        <th scope="col">Numero da Nota-Fiscal</th>
        <th scope="col">data de registro</th>
        <th scope="col">Quantidade no Estoque</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>{{ Produto.id }}</td>
        <td>{{ Produto.nome_do_produto }}</td>
        <td>{{ Produto.Descricao_do_Produto }}</td>
        <td>R${{ Produto.Preco_do_produto }}</td>
        <td>{{ Produto.Numero_de_Nota_Fiscal }}</td>
        <td>{{ Produto.dataCadastro }}</td>
        <td>{{ Produto.Quantidade_de_Produtos }}</td>
    </tr>
</tbody>
</table>
 
{% endblock %}