{% extends "base.html" %}
{% block content %}
<div class="card-body">
    <h4>Consulta de produtos</h4>
    <table class="table">
        
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">nome do produto</th>
                <th scope="col">Descrição do produto</th>
                <th scope="col">Preço</th>
                <th scope="col">Numero da Nota-Fiscal</th>
                <th scope="col">data de registro</th>
                <th scope="col">Quantidade no Estoque</th>
            </tr>
        </thead>
        <tbody>
            {% for Produto in Produto %}
            <tr>
                <td>{{ Produto.id }}</td>
                <td>{{ Produto.nome_do_produto }}</td>
                <td>{{ Produto.Descricao_do_Produto }}</td>
                <td>{{ Produto.Preco_do_produto }}</td>
                <td>{{ Produto.Numero_de_Nota_Fiscal }}</td>
                <td>{{ Produto.dataCadastro }}</td>
                <td>{{ Produto.Quantidade_de_Produtos }}</td>
                
            </tr>
            
            {% endfor %}
            <a type="button" class="btn btn-danger" href="{%url 'core/lista_produto' %}">Voltar</a>
        </tbody>
        {% endblock content %}