{% extends "base.html" %}
{% block content %}
<div class="card-body">
    <h4>Listagem de produtos</h4>
    <table class="table">
        
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">nome do produto</th>
                <th scope="col">Descrição do produto</th>
                <th scope="col">Preço</th>
                <th scope="col">Numero da Nota-Fiscal</th>
                <th scope="col">data de registro</th>
                <th scope="col">Quantidade no Estoque</th>
            </tr>
        </thead>
        <tbody>
            {% for Produto in Produto %}
            <tr>
                <td>{{ Produto.id }}</td>
                <td>{{ Produto.nome_do_produto }}</td>
                <td>{{ Produto.Descricao_do_Produto }}</td>
                <td>R${{ Produto.Preco_do_produto }}</td>
                <td>{{ Produto.Numero_de_Nota_Fiscal }}</td>
                <td>{{ Produto.dataCadastro }}</td>
                <td>{{ Produto.Quantidade_de_Produtos }}</td>
                <td><a type="button" class="btn btn-warning" href="/alterar_produto/{{ Produto.id }}">modificar</a>
                    <a type="button" class="btn btn-danger" href="/deletar_produto/{{ Produto.id }}">Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a type="button" class="btn btn-success" href="{%url 'core/criar_produto' %}">Criar novo</a>
    <a type="button" class="btn btn-success" href="{%url 'core/consulta_produto' %}">Consultar Produtos</a>
</div>
{% endblock %}