{% extends "base.html" %}
{% block title %}Consulta de Produtos{% endblock title %}
{% block active2 %}active{% endblock active2 %}{% block desativa2 %}disabled{% endblock desativa2 %}
{% block content %}

<div class="card-body">
    <h4>Consulta de produtos</h4>
    <table class="table">
        
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">nome do produto</th>

                <th scope="col">Preço</th>

                <th scope="col">data de registro</th>
                <th scope="col">Quantidade no Estoque</th>
            </tr>
        </thead>
        <tbody>
            {% for Produto in Produto %}
            <tr>
                <td>{{ Produto.id }}</td>
                <td>{{ Produto.nomeProduto }}</td>

                <td>{{ Produto.precoProduto }}</td>

                <td>{{ Produto.dataCadastro }}</td>
                <td>{{ Produto.quantidadeProduto }}</td>
                
            </tr>
            
            {% endfor %}
            <a type="button" class="btn btn-danger" href="{%url 'lista_produto' %}">Voltar</a>
        </tbody>
        {% endblock content %}