{% extends "base.html" %}
{% block content %}
<div class="label align-content-sm-center " >
    <div class="row justify-content-center"></div>
    <h5>Cadastrar novo produto</h5>
    
    <form method="POST">
    {% csrf_token %}
    <div>
          <label for="nomeProduto">Nome do produto:</label>
        <input type="text" name="nomePproduto" maxlength="30" required="" id="nomeProduto">
    </div>

      <div>
          <label for="precoProduto">Preco do produto:</label>
        <input type="number" size="50" name="precoProduto" step="0.01"  id="precoProduto">
    </div>

      <div>
          <label for="quantidadeProduto" size="50">Quantidade de Produtos:</label>
        <input type="number" name="quantidadeProduto"  min="0" max="9223372036854775807" id="quantidadeProduto">
    </div> 
            <a type="button" class="btn btn-danger" href="{% url 'lista_produto' %}">Cancelar cadastro</a>
            <button type="submit" class="btn btn-success">Criar produto</button>
        
    </form>
</div>
{% endblock content %}