{% extends 'base.html' %}
{% block title %}Central de produtos{% endblock title %}
{% block active2 %}active{% endblock active2 %}{% block desativa2 %}disabled{% endblock desativa2 %}
{% block content %}

<a type="button" class="btn btn-primary" href="{% url 'principal' %}">Voltar</a>
  <div class="card-body">
    
    <h6>Listagem de produtos</h6>

    <table class="table">
      <thead>
        <tr>
          <th scope="col"> Id</th>
          <th scope="col">Nome do produto</th>
          <th scope="col">Preço</th>

          <th scope="col">Quantidade no estoque</th>
        </tr>
      </thead>
      
      <tbody>
        
        {% for Produto in Produto %}
        {% if Produto.excluido == False %}
          <tr>
            <td>{{ Produto.id }}</td>
            <td>{{ Produto.nomeProduto }}</td>
            <td>R${{ Produto.precoProduto }}</td>
            <td>{{ Produto.quantidadeProduto }}</td>
            <td>
              <a type="button" class="btn btn-primary" href="{% url 'alterar_produto' Produto.id %}">modificar</a>
              <!-- Botão para acionar a modal -->
            </td> 
            <td>
              <div>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#a{{ Produto.id }}">Excluir</button>
                <!-- A modal -->
                
                  <div class="modal" id="a{{ Produto.id }}">
                    
                  <div class="modal-dialog">
                    
                    <div class="modal-content">
                      
                      <div class="modal-header">
                        <h4 class="modal-title">Tem certeza? </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">Deseja excluir? o {{ Produto.nomeProduto }}?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                       
                        <a type="button" class="btn btn-danger" href="{% url 'deletar' Produto.id %}">Deletar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {% endif %}
        {% endfor %}
        
      </tbody>
      
    </table>
    <a type="button" class="btn btn-success" href="{% url 'criar_produto' %}">Criar novo produto</a>
    <a type="button" class="btn btn-success" href="{% url 'consulta_produto' %}">Consultar todos os Produtos</a>
  </div>
{% endblock %}
