{% extends 'base.html' %}
{% block title %}Central de produtos{% endblock title %}
{% block divEsp %}
.especial{
  display: inline-block;
}
.h6{
  class="text-dar"
}
{% endblock divEsp %}
{% block active2 %}active{% endblock active2 %}{% block desativa2 %}disabled{% endblock desativa2 %}
{% block content %}
<h2>LISTAGEM DE PRODUTOS</h2>
<hr style="margin-top: 5px; margin-bottom: 5px;">

  
<form method="post" action="{% url 'criar_produto' %}">
  {% csrf_token %}
  <table>
    <tr>
      <td class="especial" style="width: 150px; padding-top: 0px;">
        Funcionario <br>
        <select class="form-control select2" name="cadastro" id="cadastro" style="width: 140px;">
          {% for funcionarios in func %}
          {% if funcionarios.autor.id == user.id %}
          <option selected value="{{ funcionarios.id }}">{{ funcionarios.nomeFuncionario }}</option>
          {% else %}
          <option value="{{ funcionarios.id }}">{{ funcionarios.nomeFuncionario }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </td>
      <td class="especial" style="width: 220px;">
        Produto: <br>
        <input type="text" class="form-control form-control-sm" name="nomeProduto" maxlength="30" required="nomeProduto" id="nomeProduto" autofocus style="width:200px;">
      </td>
      <td class="especial" style="width: 160px;">
        Categoria: <br>
        <select class="form-control select2" name="categoria" id="categoria" style="width: 150px;">
          <option value="Alcolico">Alcólico</option>
          <option value="Bebidas">Bebida</option>
          <option value="Mercearia">Mercearia</option>
          <option value="Alimento">Alimento</option>
        </select>
      </td>
      <td class="especial" style="width: 110px;">
        Tamanho: <br>
        <input type="text" class="form-control form-control-sm" name="tamanho" maxlength="30" required="tamanho" id="tamanho" style="width:100px;">
      </td>
      <td class="especial" style="width: 100px;">
        Tipo do Peso <br>
        <select class="form-control select2" name="tipo_peso" id="tipo_peso" style="width: 75px;">
          <option value="Grama">G</option>
          <option value="Kilograma">KG</option>
          <option value="Mililitro">ML</option>
          <option value="Litro">L</option>
          <option value="Unidade">UN</option>
        </select>
      </td>
      <td class="especial" style="width: 140px;">
        R$ V.U. <br>
        <input type="number" class="form-control form-control-sm" size="50" name="precoProduto" step="0.01" required id="precoProduto" style="width: 130px;">
      </td>
      <td class="especial" style="width: 160px;">
        Quantidade <br>
        <input type="number" class="form-control form-control-sm" name="quantidadeProduto" required min="0" max="9223372036854775807" id="quantidadeProduto" style="width: 150px;">
      </td>
      <td class="especial" style="width: 110px;">
        <br>
        <button type="submit" class="btn btn-primary btn-sm">Cadastrar</button>
      </td>
    </tr>
  </table>
</form>

<hr style="margin-top: 5px; margin-bottom: 5px;">
<div class="card-body" style="margin-top: 5px; margin-bottom: 5px;" >
    <table class="table table-sm table-hover table-dark ">
      <thead>
        <tr>
          <th scope="col"> Código <a href="{% url 'lista_produtoia' %}">↑</a> | <a href="{% url 'lista_produtoid' %}">↓</a></th>
          <th scope="col">Nome do produto <a href="{% url 'lista_produto' %}">↑</a> | <a href="{% url 'lista_produtod' %}">↓</a></th>
          <th scope="col"> tamanho</th>
          <th scope="col">Preço <a href="{% url 'lista_produtopa' %}">↑</a> | <a href="{% url 'lista_produtopd' %}">↓</a></th>
          <th scope="col">Estoque <a href="{% url 'lista_produtoqa' %}">↑</a> | <a href="{% url 'lista_produtoqd' %}">↓</a></th>
          <th scope="col">Ultimo Lançamento <a href="{% url 'lista_produtoda' %}">↑</a> | <a href="{% url 'lista_produtodd' %}">↓</a></th>
          <th scope="col"> categoria</th>
          <th scope="col"> Estado</th>
          <th scope="col"> Ações</th>
        </tr>
      </thead>
      <tbody>
        
        {% for Produto in Produto %}
        
        {% if Produto.excluido == False %}
          {% if Produto.quantidadeProduto < 10 %}
          <tr class="text-danger">
          {% else %}
          <tr>
          {% endif %}
           
            <td>{{ Produto.id }}  </td>
            <td>{{ Produto.nomeProduto }} </td>
            <td> {{ Produto.estoque.tamanho }}
              
              {{Produto.estoque.tipo_peso}}s </td>
            <td>R$ {{ Produto.precoProduto }} </td>
            <td> {{Produto.estoque.quantidadeProduto}} </td>
            <td>{{ Produto.dataAlteracao }} </td>
            <td> {{Produto.estoque.categoria}} </td>
            <td>
              {% if Produto.Estoque.quantidadeProduto < 10 and Produto.Estoque.quantidadeProduto > 0 %}
              Pouco
              {% elif Produto.Estoque.quantidadeProduto == 0 %}
              Zerado
              {% else %}
              
              {% endif %}
            </td>
            <td style="width: 220px;">
              <table>
                <tr>
                  <td><a type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#c{{ Produto.id }}">Lançar</a>
                    <div >
                      <div class="modal fade" id="c{{ Produto.id }}" tabindex="-1" role="dialog">
                        <form action="{% url 'lancar_produto' Produto.id %}" method="POST">
                          {% csrf_token %} 
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title text-danger">Lançar {{Produto.nomeProduto}} </h4>
                              </div>
                              <div class="modal-body text-dark">
                                <table class="text-dark">
                                  <tr>
                                    <td class="especial"style="width: 160px;">
                                      <h6 class="text-dark">Quantidade</h6> 
                                      <input type="number" class="form-control form-control-sm" placeholder="Lançando..." name="quantidadeProduto"  min="0" max="9223372036854775807" id="quantidadeProduto" style="width: 150px;">
                                    </td>
                                  </tr>
                                </table>
                              </div>
                              
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                       
                                <button type="submit" class="btn btn-primary ">Lançar</button>
                              </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div> 
                  </td>
                  <td>
                  <td><a type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#b{{ Produto.id }}">Alterar</a>
                    <div>
                      <div class="modal fade" id="b{{ Produto.id }}" tabindex="-1" role="dialog">
                        <form action="{% url 'alterar_produto' Produto.id %}" method="POST">
                          {% csrf_token %} 
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title text-danger">Alterar {{Produto.nomeProduto}} </h4>
                              </div>
                              <div class="modal-body text-dark">
                                <table class="text-dark">
                                  <tr>
                                    <td class="especial" style="width: 310px;">
                                      <h6 class="text-dark">Produto:</h6> 
                                      <input type="text"  placeholder="{{Produto.nomeProduto}}" value="{{Produto.nomeProduto}}" class="form-control form-control-sm" name="nomeProduto" maxlength="30" required="nomeProduto" id="nomeProduto" autofocus style="width:300px;" required> 
                                    </td>
                                    <td class="especial"style="width: 140px;" >
                                     <h6 class="text-dark">R$ V.U.</h6> 
                              
                                    <input type="number" placeholder="{{Produto.precoProduto}}" value="{{Produto.precoProduto}}"  class="form-control form-control-sm"  name="precoProduto" step="0.01"  id="precoProduto" style="width: 130px;" required>
                                    </td>
                                    <td class="especial"style="width: 160px;">
                                      <h6 class="text-dark">Quantidade</h6> 
                                      <input type="number" value="{{Produto.estoque.quantidadeProduto}}" class="form-control form-control-sm" name="quantidadeProduto"  min="0" max="9223372036854775807" id="quantidadeProduto" style="width: 150px;" required>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="especial" style="width: 110px;">
                                      <h6 class="text-dark">Tamanho: <br></h6>  
                                      <input type="text" value="{{Produto.estoque.tamanho}}" class="form-control form-control-sm" name="tamanho" maxlength="30" required="tamanho" id="tamanho" style="width:100px;"> 
                                    </td>
                                    <td class="especial" style="width: 150px;">
                                      <h6 class="text-dark">Tipo do Peso <br></h6>
                                      <select class="form-control select2" name="tipo_peso" id="tipo_peso" style="width: 75px;">
                                        {% if Produto.estoque.categoria == Grama %} 
                                        <option value='Grama' selected>G</option>
                                        {% else %}
                                        <option value='Grama' >G</option>
                                        {% endif %}
                                        {% if Produto.estoque.categoria == Kilograma %} 
                                        <option value='kilograma' selected>KG</option>
                                        {% else %}
                                        <option value='kilograma' >KG</option>
                                        {% endif %}
                                        {% if Produto.estoque.categoria == "Mililitro" %} 
                                        <option value='MiliLitro' selected>ML</option>
                                        {% else %}
                                        <option value='MiliLitro' >ML</option>
                                        {% endif %}
                                        {% if Produto.estoque.categoria == Litro %} 
                                        <option value='Litro' selected>L</option>
                                        {% else %}
                                        <option value='Litro' >L</option>
                                        {% endif %}
                                        {% if Produto.estoque.categoria == Unidade %} 
                                        <option value='Unidade' selected>UN</option>
                                        {% else %}
                                        <option value='Unidade' >UN</option>
                                        {% endif %}

                                      </select>
                                    </td>
                                    
                                    <td class="especial" style="width: 160px;">
                                      <h6 class="text-dark">Categoria: <br></h6>
                                      <select class="form-control select2" name="categoria" id="categoria" style="width: 150px;">
                                        <option value='Alcolico'>Alcólico</option>
                                        <option value='Bebidas'>Bebiba</option>
                                        <option value='Mercearia'>Mercearia</option>
                                        <option value='alimento'>Alimento</option>
                                      </select>
                                    </td>

                                    
                                  </tr>
                                </table>
                              </div>
                              
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                       
                                <button type="submit" class="btn btn-primary ">Alterar</button>
                              </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div> 
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#a{{ Produto.id }}">Excluir</button>
                      <div class="modal " id="a{{ Produto.id }}">
                        <div class="modal-dialog ">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title text-danger">Tem certeza? </h4>
                        
                            </div>
                            <div class="modal-body text-dark">Deseja excluir? o {{ Produto.nomeProduto }}?
                            </div>
                            <div class="modal-footer">
                              <table>
                                <tr>
                                  <td><button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button></td>
                                  <td><a type="button" class="btn btn-danger" href="{% url 'deletar' Produto.id %}">Deletar</a></td>
                                </tr>
                              </table>
                              
                              
                            </div>
                          </div>  
                        </div>
                      </div>
                  </td>
                </tr>
              </table>
            </td>
            </div>
            </td>
          </tr>
        {% endif %}
        {% endfor %}


        
      </tbody>

    </table>
    
</div>
  <script>
    $(document).ready(function() {
        $('.select2').select2();
    });
</script>
{% endblock %}
