{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}{% endblock %}
    </title>
    <style>
      label {
        width: 5000px;
        display: inline-block;
      }
      .fundo {
        background-color: white;
      }
      .customSelect{
        max-width: 300px;
        
      }
      h2{
        text-align:center;
      }
      {% block divEsp %}
      
      {% endblock divEsp %}

    </style>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
  
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- CSS do Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <!-- JS do jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS do Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  </head>
  <body class="fundo">
    <nav class="navbar navbar-expand-lg navbar-dark justify-content-between" style="background-color: black;">
      <a class="navbar-brand" href="#">
        <img src="{% static 'logo.png' %}" width="40" height="35" alt="mlk da net ruimkkk">
      </a>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">

          <li class="nav-item {% block active2 %}{% endblock %}">
            <a class="nav-link {% block desativa2 %}{% endblock %}" href="{% url 'lista_produto' %}">
              produtos
            </a>
          </li>

          <li class="nav-item {% block active4 %} {% endblock %}">
            <a class="nav-link {% block desativa4 %}{% endblock %}"href="{% url 'lista_funcionario' %}">
              funcionario
            </a>
          </li>
          <li class="nav-item {% block active5 %} {% endblock %}">
            <a class="nav-link {% block desativa5 %}{% endblock %}"href="{% url 'lista_cliente' %}">
              Cliente
            </a>
          </li>
          <li class="nav-item {% block active3 %} {% endblock %}">
            <a class="nav-link {% block desativa3 %}{% endblock %}"href="{% url 'venda' %}">
              venda 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">áreaAdmin</a>
          </li>
        </ul>

      </div>
      <ul class="navbar-nav me-auto">
      {% if user.is_authenticated %}
        <span class="navbar-text">Logado como {{user.nome}} ||  </span>
        
      <a class="nav-link" href="{% url 'logout' %}">deslogar</a>
      {% endif %}
      </ul>
    </nav>

    {% block content %}

    {% endblock %}
  </body>
</html>
