<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <title>arroz</title>
  </head>
  <body>
    <form action="{% url 'listagem' %}" method="post">
      {% csrf_token %}
      <div> 
        <h1>cadastro</h1>
        <table>
            <tr>
              nome<input type="text" name="nome"><br>
            </tr>
            <tr>
              email<input type="text" name="email"><br>
            </tr>  
             
        </table>
        <br>
       
      </div>
      aperte para enviar <input type="submit" name="arroz" value="enviar">
    </form>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>