{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">imagem marca</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link disabled" href="{% url 'principal' %}">Principal <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lista_produto' %}">produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'venda' %}">venda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}">áreaAdmin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="{% url 'admin:index' %}">suma</a>
      </li>
    </ul>
  </div>
</nav>
<h3><a type="button" class="btn btn-primary" href="{% url 'logout' %}">deslogar</a></h3>

  <div class="card-body">
    asdasda<table class="table">
      <tr>
        <th>gerenciar produtos</th>
        <th>gerenciar funcionarios/admin</th>
        <th>gerenciar login</th>
        <th>ta na hora de vender</th>
      </tr>
      <tr>
        <td><a type="button" class="btn btn-primary" href="{% url 'lista_produto' %}">produtos</a></td>
        <td></td>
        <td></td>
        <td><a type="button" class="btn btn-primary" href="{% url 'venda' %}">vendas</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a type="button" class="btn btn-primary" href="{% url 'admin:index' %}">admin</a></td> </td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
{% endblock content %}
