{% extends 'base.html' %}
{% block title %}Todos os funcionarios{% endblock title %}
{% block active4 %}active{% endblock active4 %}{% block desativa4 %}disabled{% endblock desativa4 %}
{% load static %}
{% block content %}

    <div class="container mt-5">
        <h1>Listar Usuários</h1>
        <ul class="list-group">
        {% for funcionario in Funcionario %}
        {% if funcionario.id == 1 %}
        {% else %}
        <li class="list-group-item">
            {{ funcionario.nome }} {{ funcionario.sobreNome }}
            <a href="{% url 'alterar_funcionario' funcionario.id %}" class="btn btn-primary btn-sm">Editar</a>
        </li>
        {% endif %}
        
        
        {% endfor %}
    </ul>
</div>
{% endblock content %}