{% extends 'base.html' %}
{% block title %}Clientes{% endblock title %}
{% block active5 %}active{% endblock active5 %}{% block desativa5 %}disabled{% endblock desativa5 %}
{% load static %}
{% block content %}
<div class="container"style="max-width: 1920px;">
    <div>            
        <table class="table table-bordeless">
            <form method="post">
            {% csrf_token %}
            <tr>
                <td>
                    <div>
                        <label for="nomeCliente">Nome:</label>
                        <input type="text" class="form-control form-control-sm" name="nomeCliente" maxlength="30" required="nomeCliente" id="nomeCliente" autofocus style="width:10%;" value="{{cliente.nomeCliente}}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label for="cpf">Cpf:</label>
                        <input type="text" class="form-control form-control-sm" name="cpf" maxlength="30" required="cpf" id="cpf"  style="width:10%;" value="{{cliente.cpf}}">
                    </div>
                </td>
            </tr>
        </table>

        <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>
{% endblock content %}
