{% extends 'base.html' %}
{% block title %}Clientes{% endblock title %}
{% block active5 %}active{% endblock active5 %}{% block desativa5 %}disabled{% endblock desativa5 %}
{% load static %}
{% block content %}

<h5 style="text-align: center;">Cadastrar novo cliente</h5> 
<div class="container" >
    
    <form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="cadastro">Funcionario cadastrante</label>
        <select name="cadastro" id="cadastro" class="form-control">           
          {% for funcionarios in funci %}
          {% if funcionarios.autor.id == user.id %}
          <option selected value="{{ funcionarios.id }}">{{ funcionarios.nomeFuncionario }}</option>
          {% else %}
          <option value="{{ funcionarios.id }}">{{ funcionarios.nomeFuncionario }}</option>
          {% endif %}
          {% endfor %}
        </select>
        </div>
    <div class="form-group">
        <label for="nomeCliente">Nome do cliente:</label>
        <input type="text" name="nomeCliente" maxlength="30" required="nomeCliente" id="nomeCliente" class="form-control">
    </div>
    

    <div class="form-group">
        <label for="cpf">cpf/cnpj:</label>
    <input class="form-control" type="number" min="0" size="15" name="cpf" id="cpf" required="cpf">
      
    </div>
    <button type="submit" class="btn btn-success">Criar cliente</button>
    </form>
</div>
{% endblock content %}
