{% extends 'base.html' %}
{% block title %}Clientes{% endblock title %}
{% block active5 %}active{% endblock active5 %}{% block desativa5 %}disabled{% endblock desativa5 %}
{% load static %}
{% block content %}

<h5 style="text-align: center;">Cadastrar novo cliente</h5> 
<div class="container" >
    
    <form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="cadastro">Funcionario cadastrante</label>
        <select name="cadastro" id="cadastro" class="form-control">           
          {% for funcionarios in funci %}
          {% if funcionarios.autor.id == user.id %}
          <option selected value="{{ funcionarios.id }}">{{ funcionarios.nomeFuncionario }}</option>
          {% else %}
          <option value="{{ funcionarios.id }}">{{ funcionarios.nomeFuncionario }}</option>
          {% endif %}
          {% endfor %}
        </select>
        </div>
    <div class="form-group">
        <label for="nomeCliente">Nome do cliente:</label>
        <input type="text" name="nomeCliente" maxlength="30" required="nomeCliente" id="nomeCliente" class="form-control" placeholder="Digite o Nome">
    </div>
    

    <div class="form-group">
        <label for="id_cpf">CPF do Cliente:</label>
        <input type="text" name="cpf" class="form-control" id="id_cpf" required placeholder="Digite o CPF">
        {% for error in cliente.cpf.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-success">Criar cliente</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

<script>
    $(document).ready(function(){
        $('#id_cpf').mask('000.000.000-00', {reverse: true});
        $('#id_cpf').on('change', function(){
            $(this).val($(this).val().replace(/[^\d]/g, '')); // Remove todos os caracteres não numéricos
        });
    });
    </script>
{% endblock content %}
