{% extends 'base.html' %}
{% block title %}Clientes{% endblock title %}
{% block active5 %}active{% endblock active5 %}{% block desativa5 %}disabled{% endblock desativa5 %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h1>Listar Clientes</h1>
    <ul class="list-group">
    {% for cliente in cliente %}
    
    {% if cliente.excluido  == True %}
    
    {% else %}
        <li class="list-group-item">
        {{ cliente.nomeCliente }} {{ cliente.cpf }}
        <a href="{% url 'alterar_cliente' cliente.id %}" class="btn btn-primary btn-sm">editar {{ cliente.cpf }}</a>
        <a href="{% url 'deletar_cliente' cliente.id %}" class="btn btn-primary btn-sm">deletar {{ cliente.cpf }}</a>
    </li>
    {% endif %}

    {% endfor %}
    <a type="button" class="btn btn-success" href="{% url 'criar_cliente' %}">Criar cliente</a>
</ul>
</div>
<div>
    

</div>
{% endblock content %}