{% extends 'base.html' %}
{% block title %}Clientes{% endblock title %}
{% block active5 %}active{% endblock active5 %}{% block desativa5 %}disabled{% endblock desativa5 %}
{% load static %}
{% block content %}
<h1 style="text-align: center;">Listar Clientes</h1>
<div class="container mt-5">
    
    <table class="table table-sm table-hover table-dark ">
        <tr>
            <th>Nome do Funcionario</th>
            <th>Sobrenome</th>
            <th></th>
        </tr>
        {% for cliente in cliente %}
        <tr>
            
            <td>{{cliente.id}} | {{ cliente.nomeCliente }}</td>
            <td>{{ cliente.cpf }}</td>
            <td>
            <table >
                <tr>
                    <td><a type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#b{{ cliente.id }}">Alterar</a>
                <div>
                    <form action="{% url 'alterar_cliente' cliente.id %}" method="POST">
                        {% csrf_token %} 
                        <div class="modal fade" id="b{{ cliente.id }}" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title text-danger">Alterar {{cliente.nomeCliente}} </h4>
                          </div>
                            <div class="modal-body text-dark">
                                <table >
                                    <tr>
                                        <td ><h6 class="text-dark">Nome:</h6></td>
                                        <td><h6 class="text-dark">Cpf</h6> </td>
                                    </tr>
                                    <tr>
                                        <td class="especial" style="width: 200px;">
                                    
                                            <input type="text" class="form-control form-control-sm" name="nomeCliente" maxlength="30" required="nomeCliente" id="nomeCliente" autofocus style="width:150px;" value="{{cliente.nomeCliente}}">
                                        </td>
                                
                                        <td class="especial" style="width: 200px;">
                                    
                                            <input type="number" class="form-control form-control-sm" name="cpf" maxlength="11" required="cpf" id="cpf"  style="width:150px;" value="{{cliente.cpf}}">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                          
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                   
                                <button type="submit" class="btn btn-primary ">Alterar</button>
                            </div>
                        </div>
                        </div>
                        </div>
                        </form>

                       
                    </td>
                </tr>
            </table>
            
            </td>
        </tr>

        {% endfor %}
        <tr>
            <td><a href="{% url 'criar_cliente' %}" class="btn btn-primary btn-sm">Cadastrar novo</a>
                
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
<div>
    

</div>
{% endblock content %}