{% extends 'base.html' %}
{% block title %}Clientes{% endblock title %}
{% block active5 %}active{% endblock active5 %}{% block desativa5 %}disabled{% endblock desativa5 %}
{% load static %}
{% block content %}
<h1 style="text-align: center;">Listar Clientes</h1>
<div class="container mt-5">
    
    <table class="table table-sm table-hover table-dark ">
        <tr>
            <th>Nome do Funcionario</th>
            <th>Sobrenome</th>
            <th></th>
        </tr>
        {% for funcionario in cliente %}
        <tr>
            <td>{{funcionario.id}} | {{ funcionario.nomeCliente }}</td>
            <td>{{ funcionario.cpf }}</td>
            <td> <a href="{% url 'alterar_cliente' funcionario.id %}" class="btn btn-primary btn-sm">Editar</a></td>
        </tr>

        {% endfor %}
        <tr>
            <td><a href="{% url 'criar_cliente' %}" class="btn btn-primary btn-sm">Cadastrar novo</a></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
<div>
    

</div>
{% endblock content %}